.movie-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .movie-image {
    margin-right: 20px;
  }
  
  .movie-image img {
    max-width: 200px; 
    max-height: 300px; 
  }
  
  .movie-info {
    font-size: 16px;
    max-width: 30%; 
    text-align: justify; 
    color: white;
    margin-right: 10px;
  }

  